{% extends 'security/layout.html.twig' %}

{% block title %}Log in!{% endblock %}


{% block main %}

    <div class="card bg-grey">
        <div class="card-header">
            Reset Password
        </div>
        <div class="card-body">

            <form method="post">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input name="email" type="email" class="form-control" id="email">
                </div>
                <button type="submit" class="btn btn-primary">Reset password</button>
            </form>

        </div>
    </div>

{% endblock %}
