dist/
.automate.yml
automate.phar
build/

###> symfony/framework-bundle ###
/.env.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

