{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript" src="{{ asset('build/runtime.js') }}"></script>
    <script type="application/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
